<h1>Update the <%=@city.name() %></h1>

<form action="/edit_cities/<%= @city.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="city_name">Rename your city:</label>
  <input id="city_name" name="city_name" type="text">

  <button type="submit">Update</button>
</form>

<form action="/cities/<%= @city.id() %>" method="post">
  <input name="_method" type = "hidden" value="delete">

  <button type="submit">Delete city</button>
</form>
