<h1>Welcome to Train-ing Day!</h1>
<h4>A place where you can train to be a Train Master</h4>
<p>Already are? <a href="/operators/new">Click here!</a>

<h3>Trains:</h3>

<% if @trains.any?() %>
<p>Click on a train to see it's schedule:</p>

<ul>
  <% @trains.each do |train| %>
  <li><a href="/trains/<%= train.id() %>"><%= train.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no trains added yet!</p>
<% end %>


<h3>Cities:</h3>

<% if @cities.any?() %>
<p>Click on a city to see it's train schedule:</p>

<ul>
  <% @cities.each do |city| %>
  <li><a href="/cities/<%= city.id() %>"><%= city.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no cities added yet!</p>
<% end %>
