<h1>Welcome to Train-ing Day!</h1>
<h2>A place where you can train to be a Train Master</h2>
<p>Already are? <a href="/operators/new">Click here!</a>

<h3>Here are all the trains in this database:</h3>

<% if @trains.any?() %>
<p>Click on an train to see information about them and mark which cities they were in:</p>

<ul>
  <% @trains.each do |train| %>
  <li><a href="/trains/<%= train.id() %>"><%= train.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no trains added yet!</p>
<% end %>


<h3>Here are all the cities in this database:</h3>

<% if @cities.any?() %>
<p>Click on a city to see information about it and mark which trains were in it:</p>

<ul>
  <% @cities.each do |city| %>
  <li><a href="/cities/<%= city.id() %>"><%= city.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no cities added yet!</p>
<% end %>
